<?xml version="1.0" ?>
<!-- click_to_fly.launch-->

<launch>
    <!-- Click to fly-->
    <node
        pkg="click_to_fly"
        type="click_to_fly"
        name="click_to_fly"
        output="screen"
        respawn="false"
    >
        <param name="takeoff_altitude" value="2.0" />
        <param name="mode" value="WRITE" />
        <param name="write_interval" value="5.0" />
        <param name="write_traj_file_name" value="traj.yaml" />
        <param name="read_traj_file_name" value="traj.yaml" />
        <param name="mission_tolerance" value="0.5" />
    </node>

    <!-- rviz-->
    <node
        pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find click_to_fly)/config/click_to_fly.rviz"
    />

    <!-- rqt_console-->
    <node
        pkg="rqt_console"
        type="rqt_console"
        name="rqt_console"
    />

</launch>
